In [6]:
%load_ext autoreload
%autoreload 2

import datetime as dt 
import time
import openWeatherScripts as ows 
import pandas as pd
import statistics as st

In [7]:
numMonths = 16
beginDate =[2020, 11,1]
startDate =  beginDate
unixStamps = []
for i in range(numMonths):
    print(startDate)
    unixStamps.append(ows.unixMonth(day=startDate[2], month=startDate[1],year=startDate[0]))
    if startDate[1] == 12:
        print('december')
        startDate[0] = startDate[0]+1
        startDate[1] = 1
    else:
        print('not december')
        startDate[1] = startDate[1] + 1
    unixStamps[i][0] =int(unixStamps[i][0])
    unixStamps[i][1] = int(unixStamps[i][1])
    

    
    


unixStamps

[2020, 11, 1]
not december
not december
[2020, 12, 1]
december
december
[2021, 1, 1]
not december
not december
[2021, 2, 1]
not december
not december
[2021, 3, 1]
not december
not december
[2021, 4, 1]
not december
not december
[2021, 5, 1]
not december
not december
[2021, 6, 1]
not december
not december
[2021, 7, 1]
not december
not december
[2021, 8, 1]
not december
not december
[2021, 9, 1]
not december
not december
[2021, 10, 1]
not december
not december
[2021, 11, 1]
not december
not december
[2021, 12, 1]
december
december
[2022, 1, 1]
not december
not december
[2022, 2, 1]
not december
not december

[[1604203200, 1606798800],
 [1606798800, 1609477200],
 [1609477200, 1612155600],
 [1612155600, 1614574800],
 [1614574800, 1617249600],
 [1617249600, 1619841600],
 [1619841600, 1622520000],
 [1622520000, 1625112000],
 [1625112000, 1627790400],
 [1627790400, 1630468800],
 [1630468800, 1633060800],
 [1633060800, 1635739200],
 [1635739200, 1638334800],
 [1638334800, 1641013200],
 [1641013200, 1643691600],
 [1643691600, 1646110800]]

In [3]:
response  =ows.callOpenWeather(lon=50, lat=50,start=unixStamps[1][0],end=unixStamps[1][1])

In [4]:
results =[]

for month in unixStamps:
    results.append(ows.callOpenWeather(lon=50, lat=50,start=month[0],end=month[1]))
    time.sleep(1)

In [8]:

cities =[{'name' :"Miami"	, 'lat' :25.7839,	'lon' :-80.2102	},
{'name' :'Phoenix'	, 'lat' :33.5722,	'lon' :-112.0891},
{'name' :"Seattle" , 'lat' :47.6211,'lon' :-122.3244},
{'name' :'San Diego'	, 'lat' :32.8312,'lon' :-117.1225},
{'name' :'Denver'	, 'lat' :39.7621	,	'lon' :-104.8759	},
{'name' :'San Antonio'		, 'lat' :29.4658	,	'lon' :-98.5253	},
{'name' :'Austin'	, 'lat' :30.3004	,	'lon' :-97.7522	},
{'name' :'Charlotte'		, 'lat' :35.2080	,	'lon' :-80.8304	},
{'name' :'Jacksonville'	, 'lat' :30.3322	,	'lon' :-81.6749},
{'name' :'Raleigh'	, 'lat' :35.8325	,	'lon' :-78.6435	},
{'name' :'Fort Worth'	, 'lat' :32.7811	,	'lon' :-97.3473	},
{'name' :'Omaha'		, 'lat' :41.2627	,	'lon' :-96.0522	},
{'name' :'Mesa'	, 'lat' :33.4017	,	'lon' :-111.7180},	
{'name' :'Frisco'		, 'lat' :33.1555	,	'lon' :-96.8215}]

cities

[{'name': 'Miami', 'lat': 25.7839, 'lon': -80.2102},
 {'name': 'Phoenix', 'lat': 33.5722, 'lon': -112.0891},
 {'name': 'Seattle', 'lat': 47.6211, 'lon': -122.3244},
 {'name': 'San Diego', 'lat': 32.8312, 'lon': -117.1225},
 {'name': 'Denver', 'lat': 39.7621, 'lon': -104.8759},
 {'name': 'San Antonio', 'lat': 29.4658, 'lon': -98.5253},
 {'name': 'Austin', 'lat': 30.3004, 'lon': -97.7522},
 {'name': 'Charlotte', 'lat': 35.208, 'lon': -80.8304},
 {'name': 'Jacksonville', 'lat': 30.3322, 'lon': -81.6749},
 {'name': 'Raleigh', 'lat': 35.8325, 'lon': -78.6435},
 {'name': 'Fort Worth', 'lat': 32.7811, 'lon': -97.3473},
 {'name': 'Omaha', 'lat': 41.2627, 'lon': -96.0522},
 {'name': 'Mesa', 'lat': 33.4017, 'lon': -111.718},
 {'name': 'Frisco', 'lat': 33.1555, 'lon': -96.8215}]

In [9]:
citydata = []
for location in cities:
    lat = location['lat']
    lon = location['lon']
    results= []
    for month in unixStamps:
        results.append(ows.callOpenWeather(lon=lon, lat=lat,start=month[0],end=month[1]))
    citydata.append(results)

In [13]:
pd.DataFrame(citydata).to_csv('Resources/openWeatherData.csv')

In [14]:
x=0
len(citydata)
for c in range(len(citydata)):
    data = []
    
    for m in range(len(citydata[c])):
        data.append(citydata[c][m])
    cities[c]['data'] = data

{'aqi': 1}, 'components': {'co': 267.03, 'no': 0.31, 'no2': 3.3, 'o3': 29.68, 'so2': 1.61, 'pm2_5': 4.7, 'pm10': 4.89, 'nh3': 0.34}, 'dt': 1609156800}

In [9]:
len(cities[1]['data'][1]['list'])

745

In [21]:
monthlydatalist = {}
for city in cities:
    for j in range(len(city['data'])):
        aqi = {}
        aqilist = []
        # componentlist = []
        for i in range(len(city['data'][j]['list'])):
        
            aqi[city['data'][j]['list'][i]['dt']]=[city['data'][j]['list'][i]['components'],city['data'][j]['list'][i]['main']]
            aqilist.append(city['data'][j]['list'][i]['main']['aqi'])
        # particlelist = []
        # for species in monthlydata['list'][j][i]['components'].keys():
        #     particlelist.append(monthlydata['list'][j][i]['components'][species])
        # componentlist.append(particlelist)

        monthlydatatemp =  st.mean(aqilist)
        monthlydatalist[j] = monthlydatatemp
        city['aqi'] = monthlydatalist

pd.DataFrame(cities)

,name,lat,lon,data,aqi
0,Miami,25.7839,-80.2102,"[{'coord': {'lon': -80.2102, 'lat': 25.7839}, ...","{0: 1.4429530201342282, 1: 1.3395973154362417,..."
1,Phoenix,33.5722,-112.0891,"[{'coord': {'lon': -112.0891, 'lat': 33.5722},...","{0: 1.4429530201342282, 1: 1.3395973154362417,..."
2,Seattle,47.6211,-122.3244,"[{'coord': {'lon': -122.3244, 'lat': 47.6211},...","{0: 1.4429530201342282, 1: 1.3395973154362417,..."
3,San Diego,32.8312,-117.1225,"[{'coord': {'lon': -117.1225, 'lat': 32.8312},...","{0: 1.4429530201342282, 1: 1.3395973154362417,..."
4,Denver,39.7621,-104.8759,"[{'coord': {'lon': -104.8759, 'lat': 39.7621},...","{0: 1.4429530201342282, 1: 1.3395973154362417,..."
5,San Antonio,29.4658,-98.5253,"[{'coord': {'lon': -98.5253, 'lat': 29.4658}, ...","{0: 1.4429530201342282, 1: 1.3395973154362417,..."
6,Austin,30.3004,-97.7522,"[{'coord': {'lon': -97.7522, 'lat': 30.3004}, ...","{0: 1.4429530201342282, 1: 1.3395973154362417,..."
7,Charlotte,35.2080,-80.8304,"[{'coord': {'lon': -80.8304, 'lat': 35.208}, '...","{0: 1.4429530201342282, 1: 1.3395973154362417,..."
8,Jacksonville,30.3322,-81.6749,"[{'coord': {'lon': -81.6749, 'lat': 30.3322}, ...","{0: 1.4429530201342282, 1: 1.3395973154362417,..."
9,Raleigh,35.8325,-78.6435,"[{'coord': {'lon': -78.6435, 'lat': 35.8325}, ...","{0: 1.4429530201342282, 1: 1.3395973154362417,..."
10,Fort Worth,32.7811,-97.3473,"[{'coord': {'lon': -97.3473, 'lat': 32.7811}, ...","{0: 1.4429530201342282, 1: 1.3395973154362417,..."
11,Omaha,41.2627,-96.0522,"[{'coord': {'lon': -96.0522, 'lat': 41.2627}, ...","{0: 1.4429530201342282, 1: 1.3395973154362417,..."
12,Mesa,33.4017,-111.7180,"[{'coord': {'lon': -111.718, 'lat': 33.4017}, ...","{0: 1.4429530201342282, 1: 1.3395973154362417,..."
13,Frisco,33.1555,-96.8215,"[{'coord': {'lon': -96.8215, 'lat': 33.1555}, ...","{0: 1.4429530201342282, 1: 1.3395973154362417,..."

In [22]:
aqilist = []
for result in aqi.keys():
    aqilist.append(aqi[result][1]['aqi'])

avgaqi = st.mean(aqilist)

avgaqi

1.6224961479198767

In [23]:
pd.DataFrame(cities)['aqi'][0]

{0: 1.4429530201342282,
 1: 1.3395973154362417,
 2: 1.3980582524271845,
 3: 1.6151560178306092,
 4: 1.6048387096774193,
 5: 1.420249653259362,
 6: 1.1503355704697986,
 7: 1.4285714285714286,
 8: 1.4778523489932887,
 9: 1.4281879194630873,
 10: 1.5256588072122053,
 11: 1.4281879194630873,
 12: 1.4044321329639888,
 13: 1.559731543624161,
 14: 1.332871012482663,
 15: 1.6224961479198767}

In [28]:

import sqlalchemy
from db_config import un, pw

ERROR: Could not find a version that satisfies the requirement db_config (from versions: none)
ERROR: No matching distribution found for db_config

ModuleNotFoundError: No module named 'db_config'

In [ ]:

engine = create_engine(f"postgresql://{pw}:{un}@localhost:5432/Project_2")
con = engine.connect()

In [ ]:
cities.to_sql('air_quality',engine)